body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0 auto;
    min-height: 100vh;
    height: 100vh;

}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}


.container {
    max-width: 65rem;      /* or 60rem, or whatever you prefer */
    margin: 0 auto;       /* center it */
    padding: 0 2rem;      /* left/right breathing room */
    
}

.header, .introduction {
    background-color: #1F2937;
    color: white;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.header .right {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 18px;
    color: #EFE7EB;


}

.introduction .container{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;


}

.container .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    max-width: 50%;
}

.introduction img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px;
}

.information .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;

}

.cards{
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 18px;
    font-weight: 100;
    color: gray;

}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


}



button {
  border: none;
  border-radius: 16px;
  background: #3882F6;
  color: white;
  font-weight: bold;
  width: 150px;
  height: 35px;
  margin: 15px;

}




.footer {

    background-color: #1F2937;
    color: white;
}

.footer .container p{
    display: flex;
    justify-content: center;
}